.ticket-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.tp-selection{
    display: flex;
    gap: 50px;
}